*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
header.scrolled{
    background-color: #688bfe;
}
.heading{
    align-self: start;
    padding-bottom: 20px;
    h2{
        font-size: 36px;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 1.3;
    }
    h6{
        font-size:18px;
        color: #969696;
        line-height: 1.3;
        font-weight: 500;
    }
}